# Category mapping rules
# Rules are applied in order: counterparty -> text_contains -> regex -> default

mapping_rules:
  - rule_type: "counterparty"
    source_category: "*"
    counterparty_inn: "1234567890"
    target_category: "Ключевой поставщик"
    priority: 1
    
  - rule_type: "text_contains"
    source_category: "*"
    text_contains: ["зарплата", "заработная плата", "оплата труда"]
    target_category: "ФОТ"
    priority: 2
    
  - rule_type: "text_contains"
    source_category: "*"
    text_contains: ["аренда", "арендная плата"]
    target_category: "Аренда"
    priority: 2
    
  - rule_type: "text_contains"
    source_category: "*"
    text_contains: ["налог", "НДС", "налоговая"]
    target_category: "Налоги"
    priority: 2
    
  - rule_type: "regex"
    source_category: "*"
    regex_pattern: ".*кредит.*|.*займ.*|.*процент.*"
    target_category: "Финансирование"
    priority: 3
    
  - rule_type: "default"
    source_category: "Поступления от клиентов"
    target_category: "Выручка"
    priority: 10
    
  - rule_type: "default"
    source_category: "Оплата поставщикам"
    target_category: "Закупки"
    priority: 10

# Default category for uncategorized items
default_category: "Uncategorized"

# Category hierarchy (optional, for grouping)
category_hierarchy:
  Доходы:
    - Выручка
    - Прочие доходы
    - Финансирование
    
  Расходы:
    - Закупки
    - ФОТ
    - Аренда
    - Налоги
    - Прочие расходы
    
  Операционные:
    - Движение между счетами
    - Валютные операции
